body {
  line-height: 1;
  background-color: green;
  line-height: 1;
  padding: 20px;
  margin: 20px;
}
.menu { 
  background-color: #FF4500; 
  height:50px;
  position: fixed; 
  margin: 0% 25% 0% 25%;
  top: 0; 
  width:50%; 
}
.menu a { 
  display: block;
  color: black; 
  text-align: center; 
  align-content:center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
.menu a:hover
{
  background-color: yellow;
}
.menu ul
{
  margin:0;
  text-align:center;
}
.menu li
{
  display: inline-block;
  color: red;
}

 .mohammad
{
  text-align: center;
  margin-top:80px;
  margin-bottom: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 70px; 
}



.who
{
color: gray;
float: right;
}

img
{
  float: right;
}
.Navigation
{
  background-image: url("Pic5.JPG");
}
h1
{
color: black;
font-family: 'Indie Flower', cursive;
text-shadow: 4px 4px 4px #aaa;
font-size: 4.3em;
text-align: center;
}
h3 
{
  color: green;
  font-size: 2.5em;
  text-align: center;
}