
body {
  line-height: 1;
  background-image: url("nature.jpg");
  line-height: 1;
  padding: 20px;
  margin: 20px;
}
.menu
{ 
  height:50px;
  width: 100%;
  overflow: hidden;
  line-height: 30px;
  background-color: #ff533d;
  position: fixed;
  object-position: center;
}
.menu a { 
  display: block;
  color: black; 
  text-align: center; 
  align-content:center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
.menu a:hover
{
  background-color: yellow;
}
.menu ul
{
  margin:0;
  text-align:center;
}
.menu li
{
  display: inline-block;
  color: red;
}
.title
{
  text-align: center;
  margin-top:80px;
  margin-bottom: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 60px; 
  font-weight: bold;
}
.s_title
{
  font-weight: bolder;
  text-align: center;
  margin-top:40px;
  margin-bottom:40px;
  font-family:'Indie Flower', cursive;
  font-size: 60px;
  color: green;
}
.block1 img
{
  float: right;
  width:300px;
  height:250px;
  margin-left:15px;
}
.block1
{
  width: 90%;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border: 10px dotted white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  float: right;
}
.block2 img
{
  float: left;
  width:300px;
  height:250px;
  margin-left:15px;
}
.block2
{
  width: 90%;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border: 10px dotted white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center;
  float: right;
}
.block3 img
{
  float: right;
  width:300px;
  height:250px;
  margin-left:15px;
}
.block3
{
  width: 90%;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border: 10px dotted white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center; 
  float: left;
}
.block4
{
  width: 90%;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border: 10px dotted white;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  text-align: center; 
}
footer
{
  background-color: #9a4b43;
  color: #Eac67a;
  font-family: 'Julius Sans One', sans-serif;
  font-size: .85em;
  text-align: center;
  padding: 5px;
  border-top: 1px solid #ff533d;
}